<div class="container">
	<h1>title</h1>
  <div class="row" id="result" data-page="1" data-next="2"></div>
</div>
<div class="overlay loading">
  <div class="overlay-body">
  	<i class="fa fa-lg fa-spinner fa-spin"></i>
  </div>
</div>

<script type="text/javascript">
function generate_html_card(card){
  var str = "";
	str += '<div class="col-sm-12 col-md-3"><div class="card">';
	str += '<div class="card-body" style="margin:0;height:250px;padding:0;background:url('+ card.medium_cover_image + ') center center;background-size: cover;"></div>';
	str += '<div class="card-body">';
	str += '<h5 class="card-title">' + card.title_long + '</h5>';
  var genstr = '';
  if( !! card.genres ){
    genstr = '<span>'+ card.genres.join('</span><span>') + '</span>';
  }
	str += '<div class="card-genres">' + genstr + '</div>';
	str += '</div>';
	str += '<div class="card-footer">';
  
  var make_star = function(rating){
  	rating = rating || 0;
    rating = rating / 2;
    var rating10 = Math.floor(rating * 10);
    var ratingFl = Math.floor(rating);
    var hasHalf = 2 < (rating10 % 10) && (rating10 % 10) <= 6;
    var str = '', maxStar = 5 - (hasHalf ? 1 : 0);
  	for(var i=0; i<ratingFl; ++i){
    	str += '<i class="fa fa-star"></i> ';
    }
    if(hasHalf) str += '<i class="fa fa-star-half-o"></i> ';
    for(var i=0; i<10-ratingFl; ++i){
    	str += '<i class="fa fa-star-o"></i> ';
    }
    return str;
	}
	str += '<small>rating: '+ (card.rating || 0) + '<br>' + make_star(card.rating) + '<br></small>';
  str += '<div style="text-align:center;"><small class="text-muted"><a href="'+ card.url +'">자세히 보기</a></small></div>';
	str += '</div></div>';
  return str;
}

function load_list(page, callback){
  page = page || 1;
  overlay('show');
  var resCont = $("#result");
  resCont.data('page', page);
  resCont.data('next', page + 1);
  $.getJSON(
  	'/api/list/' + page,
  	function(result){
      callback(result.data.movies);
    })
  .done(function(d){
    resCont.data('page', page + 1);
    resCont.data('next', page + 2);
  	overlay('hide');
  })
  .fail(function(d){console.log('fail', d);});
}

function overlay(txt){
  console.log(txt);
  var el = $(".overlay.loading");
  if(txt == 'show') el.fadeIn(150);
  else if(txt == 'hide') el.fadeOut(150);
  else el.fade();
}

function append_movies(cont, list){
  list.forEach(function(el, idx){
    var preHtml = cont.html();
    cont.html(preHtml + generate_html_card(el));
  });
}

function init_page(){
  var resultContainer = $("#result");
	resultContainer.html('');
  load_list(1, function(list){
  	append_movies(resultContainer, list);
  });
}

$(document).ready(function(){

  init_page();

  $(window).scroll(function() {
    if($(window).scrollTop() + $(window).height() == $(document).height()) {
    	var cont = $("#result");
      load_list(cont.data('next') || ((cont.data('page') || 1) + 1), function(list){
        append_movies(cont, list);
      });
    }
  });
});
</script>